.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;

}

.jobs{
    width: 79vw;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.load{
    margin-bottom: 50px;
}

@media screen and (max-width:768px){
    .jobs{
        width: 90vw;
    }
}
