@font-face {
  font-family: kumbhBold;
  src: url(../../public/KumbhSans-Bold.ttf);
}
@font-face {
  font-family: kumbh;
  src: url(../../public/KumbhSans-Regular.ttf);
}

:root{
  --background-color: rgba(244, 246, 248, 1);
  --searchbar-background: rgba(255, 255, 255, 1);
  --search-color: rgba(25, 32, 45, 1);
  --fulltime-color: rgba(25, 32, 45, 1);
  --checkbox-background: rgb(231, 229, 229);
  --job-background: rgba(255, 255, 255, 1);
  --role-color: rgba(110, 128, 152, 1);
  --location-color: rgba(89, 100, 224, 1);
}

.dark-mode{
  --background-color: rgba(18, 23, 33, 1);
  --searchbar-background: rgba(25, 32, 45, 1);
  --search-color: rgba(255, 255, 255, 1);
  --fulltime-color: rgba(255, 255, 255, 1);
  --checkbox-background: rgba(151, 151, 151, 1);
  --job-background: rgba(25, 32, 45, 1);

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: kumbh;
  user-select: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

body{
  background: var(--background-color);
}

.unchecked{
  width: 20px;
  height: 20px;
  background: blue;
}

.check{
  width: 20px;
  height: 20px;
  background: green;
}